html {
    background-color: pink;
    color: black;
    font-size: 14px;
    max-width: 80em;
    margin: 0 auto;
    font-family: sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

page {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    color: black;
    border: 5px solid #html {
    background-color: black;
    color: white;
    font-size: 14px;
    max-width: 80em;
    margin: 0 auto;
    font-family: sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

page {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    color: black;
    border: 5px solid #f4c2c2;
}

.entete {
    text-align: center;
    margin-bottom: 30px;
}

.entete img {
    width: 150px;
    height: auto;
    margin: 10px;
    border: 1px solid #ccc;
}

aboutme {
    margin: 20px 0;
    padding: 15px;
    background-color: #f5f5f5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}

ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    border-top: 1px solid #html {
    background-color: black;
    color: white;
    font-size: 14px;
    max-width: 80em;
    margin: 0 auto;
    font-family: sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
}

#page {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    color: black;
    border: 5px solid #f4c2c2;
}

.entete {
    text-align: center;
    margin-bottom: 30px;
}

.entete img {
    width: 150px;
    height: auto;
    margin: 10px;
    border: 1px solid #ccc;
}

aboutme {
    margin: 20px 0;
    padding: 15px;
    background-color: #f5f5f5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}

ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    border-top: 1px solid #095228;
}

footer a {
    color: #ADD8E6;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
};
}

footer a {
    color: red;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
};
}

.entete {
    text-align: center;
    margin-bottom: 30px;
}

.entete img {
    width: 50px;
    height: auto;
    margin: 10px;
    border: 1px solid #ADD8E6;
}

#aboutme {
    margin: 20px 0;
    padding: 15px;
    background-color: #000080;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

th, td {
    border: 10px;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #eee;
}

ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    border-top: 1px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
