html {
    background-color: #fbacc1;
    font-size: 14px;
    max-width: 100%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

#page {
    width: 80%;
    margin: auto;
    background-color: #095228;
    border: 3px solid #000000;
}

.entete {
    text-align: center;
}

#aboutme {
    margin: 20px;
    padding: 15px;
    background-color: #e8e8e8;
}

footer {
    text-align: center;
}